## Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
# 1. String

s = "Sanika"

In [4]:
type(s)

str

In [5]:
# 2. list

l = [1,2,"patil",3.14]

In [6]:
type(l)

list

In [7]:
# 3. float
a = 3.14

In [8]:
type(a)

float

In [9]:
# 4. tuple

b = (1,2,3,4)

In [10]:
type(b)

tuple

## Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = [ 'DS' , 'ML' , 'Python']
(iii) var3 = ( ‘DS’ , ’ML’ , ‘Python’ )
(iv) var4 = 1.
##### What will be the data type of the above given variable.

In [11]:
var1 = ''
type(var1)

str

In [13]:
var2 = [ 'DS' , 'ML' , 'Python']
type(var2)

list

In [14]:
var3 = ( 'DS' , 'ML' , 'Python')
type(var3)

tuple

In [15]:
var4 = 1
type(var4)

int

## Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

### 1. /

#### '/' is used for division. It returns the division answer of two numbers. If the answer is in decimal it will prints the complete answer. All answers are in float pattern.

In [18]:
30 / 15

2.0

### 2. %

#### '%' is a modulus function. It return reminder of the division operation.

In [19]:
21 % 13

8

### //

#### '//' it works similar to '/'. It also returns the division. It gives only perfectly division number. Does not gives decimal devision number.

In [21]:
20 // 3

6

### **

#### '**' used for calculating power. First raise to second.

In [22]:
2 ** 3

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [7]:
l = [1,2,3,4,'sanika','patil',3.14,0,True,False]

for element in l:
    print(f"Element :{element} , Element Type : {type(element)}")

Element :1 , Element Type : <class 'int'>
Element :2 , Element Type : <class 'int'>
Element :3 , Element Type : <class 'int'>
Element :4 , Element Type : <class 'int'>
Element :sanika , Element Type : <class 'str'>
Element :patil , Element Type : <class 'str'>
Element :3.14 , Element Type : <class 'float'>
Element :0 , Element Type : <class 'int'>
Element :True , Element Type : <class 'bool'>
Element :False , Element Type : <class 'bool'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [13]:
A = int(input("Enter the value for A"))
B = int(input("Enter the value for B"))

division = 0

while A % B == 0:
    A = A / B
    division += 1

if division > 0:
    print(f"{A} is divisible by {B} , {division} times")
else :
    print(f"{A} is not divisible by {B}")

Enter the value for A 21
Enter the value for B 3

7.0 is divisible by 3 , 1 times

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [18]:
l = [43,65,72,63,94,52,83,19,27,64,27,9,37,49,47,46,75,95,85,92,22,40,70,77,99]

for i in l:
    if i % 3 == 0:
        print ("Number is divisible by 3")
    else :
        print("Number is not divisible by 3")

Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### In mutable data type objects can be modified or changed by another value without creating a new variable.
#### eg. List, Dictionary

#### In imutable data type objects can't be modified or changed. We need to create a new variable.
#### eg. String, Tuple

In [19]:
# Example of mutable data type

list = [1,2,3,'sanika','patil']

list[2] = 4

In [20]:
list

[1, 2, 4, 'sanika', 'patil']

In [22]:
# Example of imutable data type

t = (1,2,3,4)

t[1] = 5

In [23]:
# answer is....TypeError: 'tuple' object does not support item assignment